logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
dist/
.cache/
run/
.DS_Store
web/.nuxt/
web/dist/
*.sw*
*.un~
admin/.DS_Store
admin/node_modules/
admin/*.log
admin/.idea/
test/config.ts
src/.umi